{% zone "Header" %}
{{ Model.ContentItem.DisplayText}}
{% endzone %}

	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row text-center">
				<h2 class="section-title">From 2017</h2>
				<h3 class="section-sub-title">Photo Gallery</h3>
			</div><!--/ Title row end -->

			<div class="row">
				<div id="gallery">
                   
                   
                  
                   
                   {% for item in Model.ContentItem.Content.PhotoGallery.ImageList.Paths %}
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="gallery-container">
							<a class="gallery-popup" href="{{item | asset_url}}">
								<img class="img-responsive" src="{{item | asset_url}}" alt="">
								<span class="gallery-icon"><i class="fa fa-search"></i></span>
							</a>
						</div>
					</div><!-- Gallery item 1 end -->
                    {% endfor %}

					
				</div><!-- Gallery end -->

			</div><!-- Content row end -->
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->